[submodule "refTemplates/01_Agent_Runtime/hermes-agent"]
	path = refTemplates/01_Agent_Runtime/hermes-agent
	url = https://github.com/timerloggedout-spec/hermes-agent_fork

[submodule "refTemplates/Interpreted-Context-Methdology_fork"]
	path = refTemplates/Interpreted-Context-Methdology_fork
	url = https://github.com/timerloggedout-spec/Interpreted-Context-Methdology_fork

[submodule "refTemplates/12_External_Agents/lazycodex"]
	path = refTemplates/12_External_Agents/lazycodex
	url = https://github.com/timerloggedout-spec/lazycodex_fork

[submodule "refTemplates/13_Third_Party_Refs/ChapitoAI-main"]
	path = refTemplates/13_Third_Party_Refs/ChapitoAI-main
	url = https://github.com/timerloggedout-spec/ChapitoAI_fork

[submodule "refTemplates/deepterm"]
	path = refTemplates/deepterm
	url = https://github.com/timerloggedout-spec/deepterm_fork

[submodule "refTemplates/codex-termux"]
	path = refTemplates/codex-termux
	url = https://github.com/timerloggedout-spec/codex-termux_fork

[submodule "refTemplates/deepcode-cli"]
	path = refTemplates/deepcode-cli
	url = https://github.com/timerloggedout-spec/deepcode-cli_fork
