[submodule "_1-Projects/b/a_resources/api/bnc/BSC_log"]
	path = _1-Projects/b/a_resources/api/bnc/BSC_log
	url = https://github.com/ksasemada/BSC_log.git
[submodule "_1-Projects/b/a_resources/api/yobit/Yobit-WebSocket"]
	path = _1-Projects/b/a_resources/api/yobit/Yobit-WebSocket
	url = https://github.com/ksasemada/Yobit-WebSocket.git
[submodule "_1-Projects/b/a_resources/sig-scan/kucoin-buy-detector"]
	path = _1-Projects/b/a_resources/sig-scan/kucoin-buy-detector
	url = https://github.com/ksasemada/kucoin-buy-detector.git
[submodule "_1-Projects/b/eggshell"]
	path = _1-Projects/b/eggshell
	url = https://github.com/neoneggplant/eggshell
[submodule "deepseek-cli/deepterm"]
	path = deepseek-cli/deepterm
	url = https://github.com/karjok/deepterm.git
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "codex-termux/codex-termux_fork"]
	path = codex-termux/codex-termux_fork
	url = https://github.com/timerloggedout-spec/codex-termux_fork.git
	shallow = true
[submodule "refTemplates/smods/termux-mcp-server_fork"]
	path = refTemplates/smods/termux-mcp-server_fork
	url = https://github.com/timerloggedout-spec/termux-mcp-server_fork.git
[submodule "refTemplates/smods/mcp-android-ssh_fork"]
	path = refTemplates/smods/mcp-android-ssh_fork
	url = https://github.com/timerloggedout-spec/mcp-android-ssh_fork.git
[submodule "refTemplates/smods/term_mcp_deepseek_fork"]
	path = refTemplates/smods/term_mcp_deepseek_fork
	url = https://github.com/timerloggedout-spec/term_mcp_deepseek_fork-.git
[submodule "refTemplates/smods/icm-architect_fork"]
	path = refTemplates/smods/icm-architect_fork
	url = https://github.com/timerloggedout-spec/icm-architect_fork.git
	branch = main
	shallow = true
