[user]
	email = timerloggedout@gmail.com
	name = timerloggedout-spec
[url "git@github.com:"]
	insteadOf = https://github.com/
[credential "https://github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
